@import 'simplebar-react/dist/simplebar.min.css';

.simplebar-track.simplebar-vertical {
  width: 7px;
}
.simplebar-track.simplebar-horizontal {
  height: 7px;
}
.simplebar-scrollbar:before {
  background-color: white;
}
.simplebar-scrollbar.simplebar-visible:before {
  opacity: 0.7;
}
