# MONGODB
MONGO_USR="admin"

MONGO_PWD="admin123456"

MONGO_HOST="192.168.30.151"

MONGO_PORT="27017"

MONGODB_NAME="hoangml_db"

MONGO_AUTH_SOURCE="admin"

PORT=5001

# SECRET KEY
SECRET_KEY="do em biet anh dang nghi gi"

TokenExpiredHour=24

# Telegram
TELEGRAM_TOKEN="1719837436:AAEB9UJfJwSxJZhOoaNdt7PDvkuenpuFZ4w"
TELEGRAM_CHAT_ID="-550023208"

# Kafka
KAFKA_TOPIC="test-insert-pc"
KAFKA_BROKER="192.168.30.151:9092"
# GROUP_ID is a uuid v4 
GROUP_ID="7ce6ca19-492f-4b35-834a-f11eb567cb99"

# S3
S3_ACCESS_KEY="9027013B821C4614B4B65608762D89B7"
S3_SECRET_KEY="123@123Aa"
S3_REGION="us-east-1"
S3_URL="https://s3.hcm01.cxview.ai"
S3_CAMERA_BUCKET="camera-image"
S3_EMPLOYEE_BUCKET="employee-image"

# Sentry
CLIENT_KEYS="https://739b4420625f4dfc95c4c8408d2617b4@o620853.ingest.sentry.io/5751719"

# API URL
API_URL="http://localhost:5001/api/v1/"

# Table
peopleCountingHistory="tbl_history_people_counting"
camera="tbl_camera"
zone="tbl_zone"
user="tbl_user"
boxAI="tbl_boxAI"
group="tbl_group"
customerRecord="tbl_customer_record"