# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test

# Go build output
/bin/
/build/
/dist/

# Test binary
*.out

# Vendor (nếu không dùng go mod vendor)
vendor/

# IDE / Editor configs
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Env
.env
.env.*

/creds/
/certs/