ENV=PROD

# kafka config
KAFKA_BROKERS=hcm.gateway01.cxview.ai:9094
KAFKA_TOPIC=cxview-staging-new2legacy-message
KAFKA_GROUP_ID=notification-service
KAFKA_MAX_WORKERS=200
CA_CERT = "cert/ca-cert"
CA_KEY = "cert/ca-key"
CA_ROOT = "cert/ca-root"

SERVICE_PORT=80

# onetime token key
INTERNAL_SECRET_KEY="7013B821614B4B65608762D8"
NOTIFICATION_URL="http://notification-service-api-prod-xdata"
NOTIFICATION_SEND_PATH="/api/v1/notifications/send-list"

# MongoDB 
DB_NAME="cxview"
MONGO_URI="mongodb://notification-service:67i6zVpTypn3@mongodb.mongodb.svc:27017/cxview?authSource=cxview"
NOTIFICATION_COLLECTION="notifications"
CAMERA_COLLECTION="camera"

# Minio
MINIO_HOST = "s3.cxview.ai"
MINIO_ACCESS_KEY = "notification-user"
MINIO_SECRET_KEY = "8WSFdQz612UV"
MINIO_REGION = "ap-east-1"
MINIO_NOTIFICATION_BUCKET="notification-bucket"

