[submodule "cxview-plugin-base"]
	path = cxview-plugin-base
	url = https://gitlab.cxview.local/MDT_AI_PROJECT/cxview-plugin-base.git
[submodule "cxview-plugin-counting/gst-bytetrack"]
	path = cxview-plugin-counting/gst-bytetrack
	url = https://gitlab.cxview.local/MDT_RESEARCH/gst-bytetrack.git
[submodule "cxview-plugin-counting/yolox"]
	path = cxview-plugin-counting/yolox
	url = https://gitlab.cxview.local/MDT_RESEARCH/yolox.git
[submodule "cxview-plugin-counting/gst-plugins-good"]
	path = cxview-plugin-counting/gst-plugins-good
	url = https://gitlab.cxview.local/hoang_nguyentien/gst-plugins-good.git
